html {
    scroll-behavior: smooth;
}

/*home*/
.corousel-contain {
    background-color: black;
    padding-top: 70px;
    padding-bottom: 50px;
}

.bordered {
    border: solid white ;
}

/*pariwisata*/
.menu {
    background-color:cornflowerblue;
}

.menu .card {
    border-radius: 50px;
    transition: background 0.5s, transform 0.5s;
}

.menu .card:hover {
    transform: translateY(-15px);
}

.menu .card img {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.menu h5{
    text-shadow: 0 0 10px aqua;
}

footer {
    background-color: black;
    padding: 40px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 20px;
}
